/* Reset default styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* General styles */

body {
    min-height: 100vh;
    background-color: #f7f7f7;
    text-align: center;
    color: #343253;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Header styling */

header {
    background-color: #5bc0de;
    padding: 1rem;
}

header:hover {
    background-color: #4398b3;
    /* text size bigger */
    transform: scale(1.1);
}


/* Book container styling */

.books-container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 2vw;
    background: #ffd3b6;
}


/* Search container styling */

.search-container {
    margin-bottom: 1rem;
}

label {
    margin-right: 1rem;
}


/* Button styling */

button {
    margin: 5px;
    cursor: pointer;
    background-color: #e07a5f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #d46041;
    transform: scale(1.1);
}


/* Add button styling */

.add-btn {
    background-color: #5bc0de;
}

.add-btn:hover {
    background-color: #4398b3;
}


/* Input styling */

input {
    padding: 0.5rem 1rem;
}


/* List styling */

.book-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Book preview styling */

.book-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e07a5f;
    padding: 2vw;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2vh;
}

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 2vw;
    width: 100%;
}

.book_details_element {
    display: inline-block;
    max-width: 100%;
    flex-direction: column;
}


/* Book preview image styling */

.book-preview .book-img {
    width: 100%;
    max-width: 50%;
    display: block;
    object-fit: cover;
    align-self: center;
}


/* Modal styling */

.modal {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    /* Increase the width for better content display */
    height: 100%;
    background-color: #ffd3b6;
    /* Warm modal background color */
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


/* Modal content styling */

.modal-content {
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


/* Modal content image styling */

.modal-content img {
    width: 40%;
    max-height: 200px;
    /* Adjust the height of the main picture */
    object-fit: cover;
    margin-bottom: 15px;
    /*center the image*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Modal content heading styling */

.modal-content h2 {
    font-size: 24px;
    /* Increase font size for the book title */
    margin-bottom: 10px;
}


/* Modal content paragraph styling */

.modal-content p {
    font-size: 16px;
    /* Increase font size for the book summary */
    line-height: 1.5;
    margin-bottom: 15px;
}


/* Modal content span styling */

.modal-content span {
    font-size: 18px;
    /* Increase font size for the rating */
    font-weight: bold;
}


/* Modal content button styling */

.modal-content button {
    margin-top: 10px;
    background-color: #e07a5f;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}


/* Modal hide button styling */

.modal .hide-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}


/* Grid view styling */

.book-list.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 2vw;
}


/* Hover effect for grid view */

.book-list.grid-view .book-preview:hover {
    border: 5px solid #d46041;
}


/* Table styles */

.book-table {
    /*set the table to center*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

.book-table th,
.book-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.book-table th {
    background-color: #f2f2f2;
}


/* Book preview styles (grid view) */

.book-preview {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}


/* Hover effect */

.book-preview:hover {
    background-color: #e18b0a;
}


/* Modal styles */

.hide-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.hide-btn:hover {
    color: black;
}


/* Additional styles for the book table */

.book-table-header,
.book-table-body {
    background-color: #d78080;
}

.cell-container {
    text-align: center;
    /* Center the image within the container */
}

.book-img {
    max-width: 100px;
    /* Set a maximum width for the book cover image */
    max-height: 150px;
    /* Set a maximum height for the book cover image */
}

.btn-read,
.btn-update,
.btn-remove {
    padding: 5px 10px;
    margin-right: 5px;
}

.book-preview {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 33px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    /* Set a fixed width for each book preview */
}

.book_details_element {
    margin-bottom: 10px;
}

.book-img {
    max-width: 100%;
    /* Set a maximum width for the book cover image */
    max-height: 200px;
    /* Set a maximum height for the book cover image */
    display: block;
    /* Ensure the image is centered within its container */
    margin: 0 auto;
}

.btn-read,
.btn-update,
.btn-remove {
    padding: 5px 10px;
    margin-top: 5px;
    display: block;
    width: 100%;
    /* Make the buttons full width within their container */
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}


/* tr and td hover effect */

.book-table tr:hover {
    /*border line thicker*/
    border: 2px solid #d46041;
}